
.realisation-container{
    width: 100%;
    margin-top: 100px;
    display: grid;
    grid-template-columns: 0.22fr 3fr 6fr ;
    height: 450px;
    align-items: center;
    background-color: white;
}
.realisation-left{
    height: 80%;
    z-index: 1000;
    padding: 5px 40px 0px 40px ;
    border: 2px solid #E2E2E2;
    background-color: white;
}
.item-left  .title{
    margin-top: 20px;
    margin-bottom: 25px;
    font: normal;
    font-size: 20px;
    font-weight: bold;
}
.realisation-left  h5{
    font: normal;
    font-size: 16px;
    font-weight: bold;
    }
    .item-left{
        height: 80%;
        z-index: 1000;
        transform: translate(100px);
    }
    .realisation-left  p{
        font: normal;
        font-size: 14px;
        line-height: 1.8;
        }
.realisation-right{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;

}
.realisation-right img{
    height: 100%;
    width: 100%;
    transition: transform .1s;
}
.realisation-left .soivoirplus{
    display: flex;
    width: 20%;
    height: 10%;
    border-top: 1px solid #E2E2E2;
    border-left: 1px solid #E2E2E2;
    position: absolute;
    bottom: 0;
    right: 0;
    justify-content: space-around;
    align-items: center;
    background-color: white;

}
.icon-change{
    width: 0px;
    height: 0px;
    position: absolute;
}

.container-hover:hover{
    .realisation-left-change{
    background-color: #7DAF3F;
    z-index: 1000;
    padding: 5px 40px 0px 40px ;
    }
    .savoirplus-change{
        background-color: white;
        display: flex;
        align-items: flex-end;
        width: 50%;
        height: 12%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        bottom: -8px;
    }
    .circle-container{
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 30%;
        padding-right: 10px;
    }
    .dot {
        height: 5px;
        width: 5px;
        border:1px solid #bbb;
        border-radius: 50%;
        display: inline-block;
      }
      .dot-color{
        background-color: #7DAF3F;
      }
      .realisation-right-change{
        overflow: hidden;
      }
      .realisation-right-change img{
        transform: scale(1.1);
        transform-origin: 50% 50%;
         
      }
      .icon-when-change{
        width: 30px;
        height: 40px;
        top: 50%;
        left: 50%;
        background-color: transparent;
      }
}
@media only screen and (min-width: 120px) and(max-width: 1366px){
    .realisation-left-change {
        overflow: hidden;
        position: relative;
    }
}